<app-post-form
  [currentPost]="currentPost"
  [isEdit]="isEdit"
  (newPost)="onNewPost($event)"
  (updatedPost)="onUpdatedPost($event)"
></app-post-form>
<h2>Posts</h2>
<div class="card" *ngFor="let post of posts">
  <div class="card-body mb-1">
    <h3>
      <a routerLink="/post/{{ post.id }}">{{ post.title }}</a>
    </h3>
    <p>{{ post.body }}</p>
    <hr />
    <button (click)="removePost(post)" class="btn-danger mr-3">
      <i class="fa fa-remove"></i>
    </button>

    <button (click)="editPost(post)" class="btn-dark">
      <i class="fa fa-pencil"></i>
    </button>
  </div>
</div>
